<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- <form method="GET" action="/register">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <button type="submit" class="btn btn-primary">Go!</button>
  </form> -->

  <!-- REGISTER BUTTON  -->
  <form method="GET" action="/register">
    <button type="submit" class="btn btn-primary">REGISTER</button>
  </form>

  <!-- if username form filled out, display username -->
  <%if (user_id) { %>
  <%= user_id %>
  <form method="POST" action="/logout">
    <!-- input for logout button -->
    <button type="submit" class="btn btn-primary">logout</button>
  </form>
  <% } %>

</body>

</html>