<!DOCTYPE html>
<html>
<!-- <% include partials/_header %> -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- registration page form -->
  <form method="POST" action="/register">
    <!-- email form  -->
    <input type="email" placeholder="email" name="email" />
    <!-- password form -->
    <input type="password" placeholder="password" name="password" />
    <button type="submit" class="btn btn-primary">Go!</button>
  </form>
</body>

</html>