<!DOCTYPE html>
<html>
<% include partials/_header %>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
  <!-- registration page form -->
  <form method="GET" action="/register">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <button type="submit" class="btn btn-primary">Go!</button>
  </form>
</body>

</html>