<!DOCTYPE html>
<html>

<head>
  <% include partials/_header %>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>URLS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<h1>
  URLS
</h1>
<ul>
  <a href=>
    <%=longURL%>

  </a>
</ul>

<body>

</body>

</html>