<!-- get urls form express_server.js -->


<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>


  <!-- display list of URLS and shortened form -->
  <h1>URLS</h1>
  <ul>
    <!-- for in loop to loop over url object -->
    <% for (var i in urls) { %>
    <li>
      <a href='#'>
        <%= urls[i] %> </a>
      <!-- i = shortURLS(keys) -->
      <%= i %>
      <!-- add edit links for each  -->
      <a href="/urls/<%=i%>"> Edit </a>

      <!-- adding delete button form -->
      <form method="POST" action="/urls/<%=i%>/delete">
        <button type="submit" class="btn btn-primary">Delete</button>


    </li>
    <% } %>
  </ul>
</body>

</html>